.elements {
  position: relative;
  width: clamp(200px, 70vw, 550px);
  aspect-ratio: 1 / 1;
  margin: 40px auto;
  display: grid;
  place-items: center;
  isolation: isolate;
  overflow: hidden;
}

/* core */

.elements__core {
  position: relative;
  width: 35%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;

  background: radial-gradient(
      circle at 35% 30%,
      rgba(255, 255, 255, 0.35) 0%,
      rgba(255, 255, 255, 0) 35%
    ),
    radial-gradient(circle at 60% 55%, #2e7d6f 0%, #1e4f78 45%, #0b1f2a 75%);

  box-shadow: inset -12px -18px 30px rgba(0, 0, 0, 0.45),
    inset 10px 8px 18px rgba(255, 255, 255, 0.18),
    0 12px 40px rgba(0, 0, 0, 0.4);
}

.elements__core {
  animation: planetSpin 30s linear infinite;
}

@keyframes planetSpin {
  to {
    transform: rotate(360deg);
  }
}

/* orbit-bane */
.elements__orb {
  position: absolute;
  inset: 0;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: center;
}

.elements__orb i {
  font-size: 2.2rem;
}

/* element */

.elements__tag {
  position: absolute;
  top: 6%;
  left: 50%;
  padding: 4px;
  border-radius: 999px;
  transform: translateX(-50%);
  backdrop-filter: blur(10px);
}

.fa-solid.fa-wind {
  color: var(--wind);
}

.fa-solid.fa-fire {
  color: var(--fire);
}

.fa-solid.fa-water {
  color: var(--water);
}

.fa-solid.fa-mound {
  color: var(--earth);
}

.elements__orb--wind .elements__tag {
  text-shadow: 0 0 12px var(--wind);
}

.elements__orb--water .elements__tag {
  text-shadow: 0 0 12px var(--water);
}

.elements__orb--fire .elements__tag {
  text-shadow: 0 0 12px var(--fire);
}

.elements__orb--earth .elements__tag {
  text-shadow: 0 0 12px var(--earth);
}

/* element orbit anim */

.elements__orb--wind {
  animation: orbit-wind 9s linear infinite;
}

.elements__orb--water {
  animation: orbit-water 14s linear infinite;
}

.elements__orb--fire {
  animation: orbit-fire 6s linear infinite;
}

.elements__orb--earth {
  animation: orbit-earth 20s linear infinite;
}

/* startpos */

.elements__orb--water {
  transform: rotate(90deg);
}
.elements__orb--fire {
  transform: rotate(180deg);
}
.elements__orb--earth {
  transform: rotate(270deg);
}

@keyframes orbit-wind {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes orbit-water {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(450deg);
  }
}

@keyframes orbit-fire {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(540deg);
  }
}

@keyframes orbit-earth {
  from {
    transform: rotate(270deg);
  }
  to {
    transform: rotate(630deg);
  }
}

@media (max-width: 400px) {
  .elements i {
    font-size: 1.8rem;
  }
}
