/* Museum Intro */

.slogan p {
    font-size: 0.9rem;
    color:var(--orange);
    text-align: center;
    margin:0px;
    padding:0px;
    position: relative;
    right: 95px;
    top:3px;
}
.slogan {
    padding-top: 30px;
    padding-bottom: 30px;
}
.museum-intro p {
    padding: 20px 25px;
}
.fire {
    color: var(--fire);
    font-weight: var(--semibold);
}
.wind {
    color: var(--wind);
    font-weight: var(--semibold);
}
.water {
    color: var(--water);
    font-weight: var(--semibold);
}
.earth {
    color: var(--earth);
    font-weight: var(--semibold);
}


/* Exhibitions , events and for kids */

.exhibitions, .events, .for-kids {
    display: grid;
    gap: 30px;
    padding: 30px;
}
.card {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap:10px;
    background-color: var(--text-background);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(68, 188, 221, 0.3);
}
.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 1rem 0;
}
.card p {
    line-height: 1.5;
}
.highlight {
    color: var(--lightblue);
    font-weight: var(--bold);
}
.events h3, .for-kids h3 {
    padding-bottom:10px;
}
.message {
    color: var(--lightblue);
    font-family: var(--paragraph);
    font-weight: var(--medium);
    text-transform: capitalize;
    text-decoration: underline;
    margin-top: 10px;
}
.for-kids {
    padding-bottom: 100px;
}

/* Space Zone */

.sky-above {
    display:flex;
    flex-direction: column;
    background-color: var(--text-background);
    padding-left:10px;
    align-items: center;
}
.section-headline {
    padding-bottom:15px;
    padding-top:15px;
    text-align: left;
    padding-left:25px;
    color: var(--orange);
}

.sky-above p, .vr-spacewalk p, .evolution p {
    padding-left:25px;
    padding-right:25px;
    padding-bottom: 25px;
    line-height:1.25;
}
.sky-above img {
    max-width: 85%;
    margin-right:20px;
    margin-bottom:20px;
    border-radius: 12px;
    border: 2px solid var(--orange);
}
.section-headline2 {
    margin:0px;
    padding-bottom:15px;
    padding-top:15px;
    text-align: left;
    padding-left:25px;
    color: var(--orange);
}
.vr-spacewalk {
    background-color: var(--text-background);
}

/* Evolution */

.evolution {
    display:flex;
    flex-direction:column;
    align-items: center;
    background-color: var(--text-background);
}
.evolution img {

    max-width: 85%;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius:12px;
    border: 2px solid var(--orange);
}

/* Robotics */


.robotics {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.robotics p {
    padding:10px;
    line-height:1.25;
}
.robotics-card {
    padding:15px;
    margin:25px;
    background-color: var(--text-background);
    border-radius: 12px;
    
}
.robotics img {
    max-width: 85%;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius:12px;
    border: 2px solid var(--text-background);
}
.robotics-card {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.robotics-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Booking & prices */

.extra-offers {
    text-transform: capitalize;
}
.extras {
    margin: 40px;
}
.highlight-orange {
    font-weight: var(--semibold);
}
.form {
    display:flex;
    flex-direction:column;
}
.form p {
    margin:25px;
    text-align: center;
}
.form-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 20px;
}
.form-input input {
    margin:5px;
    padding:5px;
}

/* About */

.about p {
    padding:25px;
}
.visit {
    text-align: center;
    padding: 25px;
    line-height: 1.5;
}
.hours {
    padding-top: 25px;
    padding-bottom: 20px;
}
.map img{
    border-radius: 12px;
    border:1px solid var(--lightblue);
}

/* Footer */

footer {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap:20px;
    padding-top:40px;
}
footer i {
    color:var(--lightblue);
    font-size: 1.3rem;
    margin:10px;
    padding-bottom:40px;
}
footer h4, footer p {
    text-align: center;
}
footer h4 {
    margin-bottom:10px;
}
footer p {
    font-size: var(--text-base);
    line-height: 1.8;
    font-weight: var(--light);
}






/* MEDIA QUERIES*/


/* Mobile Burger Menu */

@media (min-width: 620px) {
    nav {
        display:block;
        position:static;
    }
    .hamburger-icon {
        display:none;
    }
    nav a {
        display:inline-block;
        background: none;
    }
    
}

/* Tablet */

@media (min-width: 621px) {

    h1 {
        font-size: var(--text-2xl);
    }
    .navbar{
        display: flex;
        justify-content: space-around;
        padding: 20px;
    }
    .slogan p {
            left:-210px;
        }
    .museum-intro {
        margin:50px;
}
    .museum-intro p {
        font-size: var(--text-med);
    }
    .exhibitions, .events, .for-kids {
        grid-template-columns: repeat(2, 1fr);
    }
    .homepage h2 {
        font-size: 1.8rem;
        background-color: var(--background);
        color: var(--orange);
        padding-top: 50px;
        padding-bottom: 50px;
        text-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    }
    

}


/* Desktop */

@media (min-width: 900px) {


    h1, h2 {
        font-size: var(--text-2xl);
    }
    .slogan p {
        left:-210px;
    }
    body {
        background-color: var(--background);
        max-width:1400px;
        margin:0 auto;
    }
    .exhibitions, .events, .for-kids {
        grid-template-columns: repeat(3, 1fr);
    }
    .hero {
        display:flex;
        flex-direction: column;
    }
    .hero img {
        width:100vw;
        height:70vh;
    }
    
}