.slogan p {
    font-size: 0.9rem;
    color:var(--orange);
    text-align: center;
}
.slogan {
    padding-top: 15px;
    padding-bottom: 15px;
}




/* MEDIA QUERIES*/


/* Mobile Burger Menu */

@media (min-width: 620px) {
    nav {
        display:block;
        position:static;
    }
    .hamburger-icon {
        display:none;
    }
    nav a {
        display:inline-block;
        background: none;
    }
    
}