/* Museum Intro */

.slogan p {
    font-size: 0.9rem;
    color:var(--orange);
    text-align: center;
    margin:0px;
    padding:0px;
    position: relative;
    right: 95px;
    top:3px;
}
.slogan {
    padding-top: 15px;
    padding-bottom: 15px;
}
.museum-intro p {
    padding: 20px 25px;
}
.fire {
    color: var(--fire);
    font-weight: var(--semibold);
}
.wind {
    color: var(--wind);
    font-weight: var(--semibold);
}
.water {
    color: var(--water);
    font-weight: var(--semibold);
}
.earth {
    color: var(--earth);
    font-weight: var(--semibold);
}


/* Exhibitions , events and for kids */

.exhibitions, .events, .for-kids {
    display: grid;
    gap: 30px;
    padding: 30px;
}
.exhibition-card, .events-card, .for-kids-card {
    background-color: var(--text-background);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.exhibition-card:hover, .events-card:hover, .for-kids-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.exhibition-card img, .events-card img, .for-kids-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 1rem 0;
}
.exhibition-card p, .events-card p, .for-kids-card p {
    line-height: 1.5;
}
.highlight {
    color: var(--lightblue);
    font-weight: var(--bold);
}
.events h3, .for-kids h3 {
    padding-bottom:10px;
}
.for-kids-card a {
    color: var(--lightblue);
    font-family: var(--paragraph);
    font-weight: var(--medium);
    text-transform: capitalize;
    text-decoration: underline;
    margin-top: 10px;
}

/* Space Zone */

.sky-above {
    display:flex;
    flex-direction: column;
    background-color: var(--text-background);
    padding-left:10px;
    align-items: center;
}
.section-headline {
    padding-bottom:15px;
    padding-top:15px;
    text-align: left;
    padding-left:25px;
    color: var(--orange);
}
.sky-above p, .vr-spacewalk p {
    padding:25px;
    line-height: 1.25;
}
.sky-above img {
    max-width: 90%;
    margin-right:20px;
    margin-bottom:20px;
    border-radius: 12px;
    border: 2px solid var(--orange);
}
.section-headline2 {
    margin:0px;
    padding-bottom:15px;
    padding-top:15px;
    text-align: left;
    padding-left:25px;
    color: var(--orange);
}
.vr-spacewalk {
    background-color: var(--text-background);
}
/* Footer */

footer {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap:20px;
    padding-top:40px;
}











































/* MEDIA QUERIES*/


/* Mobile Burger Menu */

@media (min-width: 620px) {
    nav {
        display:block;
        position:static;
    }
    .hamburger-icon {
        display:none;
    }
    nav a {
        display:inline-block;
        background: none;
    }
    
}