:root {
    --orange: #EBB967;
    --lightblue: #67D4EB;
    --background: #333A56;
    --text-background: #1A1D2B;
    --white: #FFFFFF;
    --paragraph: 'Rubik', 'Open Sans', 'Helvetica Neue', sans-serif;
    --heading: 'space-grotesk'. 'montserrat', 'Arial', 'Roboto';
}
